//
//  Common
//  _____________________________________________
& when (@media-common = true) {
  body {
    > .ui-widget-overlay {
      z-index: 6;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background: #000000;
      opacity: 0.7;
    }

    > .ui-dialog {
      z-index: 7;
      background: #fff;
      border-radius: 5px;
      padding: 15px;

      .ui-dialog-content,
      .ui-dialog-title {
        color: #0e2958;
      }

      .ui-dialog-content {
        text-align: center;
      }

      .ui-dialog-title {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 25px;
      }

      .ui-dialog-titlebar > .ui-dialog-titlebar-close {
        float: right;
      }
    }
  }
}
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}